// Books
.book-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.book-card {
  display: flex;
  align-items: center;
  padding: 15px;
}

.book-card:hover {
  transform: translateY(-3px);
}

.book-card img {
  width: 80px; /* Smaller, fixed width for the image */
  height: 120px; /* Fixed height for the image */
  object-fit: cover; /* Ensures the image covers the area, cropping if necessary */
  border-radius: 4px;
  margin-right: 25px; /* Space between image and text */
}

.book-info {
  text-align: left; /* Align text to the left */
  line-height: 1.4;
}

.book-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.book-author {
  font-size: 0.9em;
  color: #555;
  margin: 0;
}

// Movies
.movie-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.movie-card {
  display: flex;
  align-items: center;
  padding: 15px;
}

.movie-card:hover {
  transform: translateY(-3px);
}

.movie-card img {
  width: 80px; /* Smaller, fixed width for the image */
  height: 120px; /* Fixed height for the image (same as books) */
  object-fit: cover; /* Ensures the image covers the area, cropping if necessary */
  border-radius: 4px;
  margin-right: 25px; /* Space between image and text */
}

.movie-info {
  text-align: left; /* Align text to the left */
  line-height: 1.4;
}

.movie-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.movie-director {
  font-size: 0.9em;
  color: #555;
  margin: 0;
}