/* Colors */
/* https://coolors.co/d79922-efe2ba-f13c20-3872b2-c5cbe3 */
/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

/* Da bih napravio responzivan navbar koristio sam ovo https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: #212529;
    background-color: white;
    margin: 0;
}

header {
    z-index: 1000;
    color: #212529;
}

.content {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    /* color: #4056A1; */
    color: #3872b2;
}

#profile_and_contact {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#profile_image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 2px 5px #6C757D;
}

#profile_info, #contact {
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
}

#contact a {
    margin: 0 5px; /* Add horizontal space between icons */
    color: #6C757D;
    font-size: 24px; /* Adjust icon size */
    text-decoration: none; /* uklanja liniju*/
}

.sticky {
    position: sticky;
    top: 0;
}


/* ################################################################### */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sticky_header */
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* https://www.w3schools.com/howto/howto_js_topnav.asp */
.topnav {
    background-color: white;
    overflow: hidden; 
    box-shadow: 0px -2px 8px #343A40;
}

.topnav a {
    float: left;
    display: block;
    color: #212529;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px
}

#name_nav {
    color: #F13C20;
    font-style: italic;
    font-weight: bolder;
}
  
.topnav a:hover {
    color: #F13C20;
}
#contact a:hover {
    color: #F13C20;
}

.large_quote {
    padding: 30px;
    text-align: center;
    background-color: #EFE2BA;
    font-style: italic;
    font-size: large;
    box-shadow: 0px 0px 6px #ADB5BD;
}

#news {
    margin-top: 20px;
    padding: 30px;
    color: #6C757D;
    font-style: italic;
}

#about_me {
    padding: 30px;
}

#currently_thinking_about {
    padding: 30px;
}

#currently_thinking_about h2 {
    color: #F13C20;
}

#currently_thinking_about li {
    padding: 4px;
}

#currently_thinking_about li::marker {
    color: #F13C20;
}


#home {
    display: flex;
    flex-wrap: wrap;
}

#profile_and_contact, #currently_thinking_about {
    flex: 1 1 400px;
}


/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #CED4DA;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F8F9FA;
}
tr:nth-child(odd) {
    background-color: #E9ECEF;
}


/* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_grid-template-columns1 */

.teaching_grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}
  
.teaching_grid > div {
    /* padding: 20px 0; */
    margin: 2px;
}
  
#logo1 {
    grid-column: 1;
    grid-row: 1/4;
    width: 60px;
    height: 60px;
    margin: 5px;
}
  
#logo2 {
    grid-column: 1;
    grid-row: 4/7;
    width: 60px;
    height: 60px;
    margin: 5px;
}
  
#name1 {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
}
  
#name2 {
    grid-column: 2;
    grid-row: 4;
    font-weight: bold;
}
  
#description1 {
    grid-column: 2;
    grid-row: 2;
    color: #343A40;
}
  
#description2 {
    grid-column: 2;
    grid-row: 5;
    color: #343A40;
}
  
#duration1 {
    grid-column: 2;
    grid-row: 3;
    color: #6C757D;
}
  
#duration2 {
    grid-column: 2;
    grid-row: 6;
    color: #6C757D;
}


/* Ovo je uzas sto cu sad jedno po jedno i to sve u ovom glavnom
fajlu, ali popravljat cu ovu strukturu kasnije */

.education_and_research_grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}
  
.education_and_research_grid > div {
    /* padding: 20px 0; */
    margin: 2px;
}
  
#ed_logo1 {
    grid-column: 1;
    grid-row: 1/4;
    width: 60px;
    height: 60px;
    margin: 5px;
}
  
#ed_logo2 {
    grid-column: 1;
    grid-row: 4/7;
    width: 60px;
    height: 60px;
    margin: 5px;
}

#ed_logo3 {
    grid-column: 1;
    grid-row: 7/10;
    width: 60px;
    height: 60px;
    margin: 5px;
}
  
#ed_name1 {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
}
  
#ed_name2 {
    grid-column: 2;
    grid-row: 4;
    font-weight: bold;
}

#ed_name3 {
    grid-column: 2;
    grid-row: 7;
    font-weight: bold;
}
  
#ed_description1 {
    grid-column: 2;
    grid-row: 2;
    color: #343A40;
}
  
#ed_description2 {
    grid-column: 2;
    grid-row: 5;
    color: #343A40;
}

#ed_description3 {
    grid-column: 2;
    grid-row: 8;
    color: #343A40;
}
  
#ed_duration1 {
    grid-column: 2;
    grid-row: 3;
    color: #6C757D;
}
  
#ed_duration2 {
    grid-column: 2;
    grid-row: 6;
    color: #6C757D;
}

#ed_duration3 {
    grid-column: 2;
    grid-row: 9;
    color: #6C757D;
}



/* Sada cu napraviti da ove dvije stvari u o meni dijelu
budu flex sa wrapom */

#ed_and_teaching {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#ed_and_teaching > * {
    flex: 1 1 400px;
}



/* about me je nekad presirok */
/* #about_me > p, h1 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
} */

main > * {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

footer {
    background-color: #6C757D;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
}

footer a {
    margin: 10px 10px 10px 10px;
    margin-top: 20px;
    color: white;
}

#copyright {
    margin: 20px 10px 10px 10px;
}


/* news ------------------------------------------------ */


#news li {
    padding: 4px;
}

#news li::marker {
    color: #3872b2;
}

#news li .date {
    color: #3872b2;
    margin-right: 5px;
}

.blog-post a:hover {
    opacity: 0.8;
}

